
name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
env:
  MOD_NAME: "LostDreams"

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Setup
      uses: actions/setup-dotnet@v3
      
    - name: Restore
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: ${{env.MOD_NAME}}
        path: publish/${{env.MOD_NAME}}/
        retention-days: 30